.item-info{
    font-size: 17px;
    color:  #2A414F;
    font-weight: 500;
}
.clear{
    margin-top: 57px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    background-color: #FF3030;
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.review{
    margin-top: 16px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    background-color: #FF9900;
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}